schema.xsd

<?xml version="1.0" encoding="utf-8"?>


<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--  TYPES -->
    <xs:complexType name="neuralRepresentation">
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="nFeatures" type="xs:integer"/>
    </xs:complexType>

    <!--  DEFINITION -->
    <xs:element name="model">
        <!-- Species optional to xs:allow for more general models -->

        <xs:complexType>
            <xs:all>
                <xs:element minOccurs="0" name="plausibility">
                    <xs:complexType>
                        <xs:all>
                            <xs:element minOccurs="0" name="macro" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="meso" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="micro" type="xs:boolean"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="coverage">
                    <xs:complexType>
                        <xs:all>
                            <xs:element minOccurs="0" name="cortical" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="subcortical" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="cerebellar" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="brainstem" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="spinal" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="peripheral" type="xs:boolean"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="interface">
                <xs:complexType>
                    <xs:all>
                        <xs:element minOccurs="1" maxOccurs="1" name="inputs">
                            <xs:complexType>
                                <xs:all>
                                    <xs:element minOccurs="1" name="sensory">
                                        <xs:complexType>
                                            <xs:all>
                                                <xs:element minOccurs="0" name="visual" type="xs:boolean"/>
                                                <xs:element minOccurs="0" name="auditory" type="xs:boolean"/>
                                                <xs:element minOccurs="0" name="haptic" type="xs:boolean"/>
                                                <xs:element minOccurs="0" name="proprioceptive" type="xs:boolean"/>
                                                <xs:element minOccurs="0" name="vestibular" type="xs:boolean"/>
                                                <xs:element minOccurs="0" name="olfactory" type="xs:boolean"/>
                                                <xs:element minOccurs="0" name="gustatory" type="xs:boolean"/>
                                            </xs:all>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element minOccurs="0" name="auxiliary">
                                        <xs:complexType>
                                            <xs:all>
                                                <xs:element minOccurs="0" name="input">
                                                    <xs:complexType>
                                                        <xs:attribute name="name" type="xs:string"/>
                                                        <xs:attribute name="n_features" type="xs:integer"/>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:all>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:all>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="1" maxOccurs="1" name="outputs"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>
                <xs:element name="description" type="xs:string" />
            </xs:all>

            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="author" type="xs:string" use="required"/>
            <xs:attribute name="version" type="xs:decimal" use="required"/>
            <xs:attribute name="species" use="optional" />

            <xs:attribute name="order" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="primates"/>
                        <xs:enumeration value="rodents"/>
                        <xs:enumeration value="other"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>