SMS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           targetNamespace="https://ossm.dev/sms/0.5"
           xmlns="https://ossm.dev/sms/0.5">

    <!-- simple types -->
    <xs:simpleType name="dir_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="in"/>
            <xs:enumeration value="out"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="modality_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="vision"/>
            <xs:enumeration value="audition"/>
            <xs:enumeration value="somatosensation"/>
            <xs:enumeration value="proprioception"/>
            <xs:enumeration value="interoception"/>
            <xs:enumeration value="vestibular"/>
            <xs:enumeration value="language"/>
            <xs:enumeration value="other"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="dtype_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="float8"/>
            <xs:enumeration value="float16"/>
            <xs:enumeration value="float32"/>
            <xs:enumeration value="float64"/>
            <xs:enumeration value="int8"/>
            <xs:enumeration value="int16"/>
            <xs:enumeration value="int32"/>
            <xs:enumeration value="int64"/>
            <xs:enumeration value="bool"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- reusable -->
    <xs:complexType name="shape">
        <xs:sequence>
            <xs:element name="dim" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="name" type="xs:string" use="optional"/>
                    <xs:attribute name="size" type="xs:integer" use="optional"/> <!-- -1 allowed -->
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="spec" type="xs:string" use="optional"/> <!-- e.g., "b,h,w,c" -->
    </xs:complexType>

    <xs:complexType name="port">
        <xs:sequence>
            <xs:element name="shape" type="shape" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="dir" type="dir_type" use="required">
            <xs:annotation>
                <xs:documentation>
                    Direction of data flow for this port, from the perspective of the module.
                    "in" means data flows into the module (i.e., input).
                    "out" means data flows out of the module (i.e., output).
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="dtype" type="dtype_type" use="required"/>
        <xs:attribute name="description" type="xs:string" use="optional"/>
    </xs:complexType>

    <!-- metadata/species -->
    <xs:complexType name="metadata">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="version" type="xs:string"/>
            <xs:element name="date" type="xs:date"/>
            <xs:element name="license" type="xs:string"/>
            <xs:element name="author" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="keyword" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="species">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="ncbi_taxid" type="xs:string" use="optional"/>
    </xs:complexType>

    <!-- modules -->
    <xs:complexType name="module_core">

        <xs:sequence>
            <xs:element name="species" type="species" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Species that this module is derived from. If not specified, the model species is assumed.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="io" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Input/output ports for this module.
                    </xs:documentation>
                </xs:annotation>

                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="port" type="port" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>

        <xs:attribute name="id" type="xs:ID" use="required">
            <xs:annotation>
                <xs:documentation>
                    Unique identifier for this module within the model.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="dt_ms" type="xs:decimal" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Time step for this module, in milliseconds. If not specified, the model time_base is assumed.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="description" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Optional description of this module.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

    </xs:complexType>

    <xs:complexType name="module_type">
        <xs:complexContent>
            <xs:extension base="module_core">
                <xs:sequence>
                    <xs:element name="region" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>
                                Anatomical or functional region this module is associated with,
                                along with the parcellation system or atlas in which it is defined.
                            </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:attribute name="id" type="xs:string" use="required"/>
                            <xs:attribute name="atlas" type="xs:string" use="required"/>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="sensor_type">
        <xs:complexContent>
            <xs:extension base="module_core">
                <xs:sequence>
                    <xs:element name="organ" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>
                                Body organ this sensor is associated with.
                            </xs:documentation>
                        </xs:annotation>

                        <xs:complexType>
                            <xs:attribute name="id" type="xs:string" use="required"/>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="actuator_type">
        <xs:complexContent>
            <xs:extension base="module_core">
                <xs:sequence>
                    <xs:element name="bodypart" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>
                                Body part this actuator is associated with.
                            </xs:documentation>
                        </xs:annotation>

                        <xs:complexType>
                            <xs:attribute name="id" type="xs:string" use="required"/>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <!-- connections -->
    <xs:complexType name="connection">
        <xs:attribute name="from" type="xs:IDREF" use="required">
            <xs:annotation>
                <xs:documentation>
                    Port that is the source of this connection.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="to" type="xs:IDREF" use="required">
            <xs:annotation>
                <xs:documentation>
                    Port that is the target of this connection.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="delay_ms" type="xs:decimal" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Transmission delay for this connection, in milliseconds.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- observables -->
    <xs:complexType name="observable">
        <xs:attribute name="id" type="xs:ID" use="required"/>

        <xs:attribute name="source" type="xs:IDREF" use="required">
            <xs:annotation>
                <xs:documentation>
                    Port that is the source of this observable.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="dt_ms" type="xs:decimal" use="optional"/>
    </xs:complexType>

    <!-- groups & contract -->
    <xs:complexType name="port_group">
        <xs:sequence>
            <xs:element name="member" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="ref" type="xs:IDREF" use="required"/> <!-- -> port/@id -->
                </xs:complexType>
            </xs:element>
        </xs:sequence>

        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <!-- root -->
    <xs:element name="model">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="metadata" type="metadata"/>
                <xs:element name="species" type="species" minOccurs="0"/>

                <xs:element name="time_base" minOccurs="0">
                    <xs:complexType>
                        <xs:attribute name="dt_ms" type="xs:decimal" use="optional"/>
                    </xs:complexType>
                </xs:element>

                <xs:element name="modules">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="module" type="module_type" minOccurs="1" maxOccurs="unbounded"/>
                            <xs:element name="sensor" type="sensor_type" minOccurs="1" maxOccurs="unbounded"/>
                            <xs:element name="actuator" type="actuator_type" minOccurs="1" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="port_groups" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="port_group" type="port_group" minOccurs="1" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="connections" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="connection" type="connection" minOccurs="1" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="observables" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="observable" type="observable" minOccurs="1" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>

        <!-- keys / refs (XSD 1.0‑friendly) -->
        <xs:key name="k_node_id">
            <xs:selector xpath="modules/module | modules/sensor | modules/actuator"/>
            <xs:field xpath="@id"/>
        </xs:key>

        <xs:key name="k_port_id">
            <xs:selector xpath="modules/module/io/port | modules/sensor/io/port | modules/actuator/io/port"/>
            <xs:field xpath="@id"/>
        </xs:key>

        <xs:keyref name="r_conn_from_id" refer="k_port_id">
            <xs:selector xpath="connections/connection"/>
            <xs:field xpath="@from"/>
        </xs:keyref>

        <xs:keyref name="r_conn_to_id" refer="k_port_id">
            <xs:selector xpath="connections/connection"/>
            <xs:field xpath="@to"/>
        </xs:keyref>

        <xs:key name="k_group_id">
            <xs:selector xpath="port_groups/port_group"/>
            <xs:field xpath="@id"/>
        </xs:key>

        <xs:keyref name="r_group_member_is_port" refer="k_port_id">
            <xs:selector xpath="port_groups/port_group/member"/>
            <xs:field xpath="@ref"/>
        </xs:keyref>

        <xs:keyref name="r_obs_source_is_port" refer="k_port_id">
            <xs:selector xpath="observables/observable"/>
            <xs:field xpath="@source"/>
        </xs:keyref>
    </xs:element>
</xs:schema>
